

#csharp{
  display: none;
  font-size: 22px;
}

#css{
  display: none;
  font-size: 22px;
}

#ruby{
  display: none;
  font-size: 22px;
}


.form-group{
  margin: 20px;
  padding: 5px;
  width:600px;

}

.btn{
  border: 2px solid blue;
}


img{
  width: 200px;
}

p{
  font-weight: bold;
}
